:root {
    --s_black: #191414;
    --s_white: #FFFFFF;
    --s_green: #1DB954;
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#main-container {
    width: 480px;
    height: 160px;
    background: var(--s_black);
}